{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react",
    "typescript",
    "react-hooks",
    "@typescript-eslint"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "react/require-default-props": "off",
    "no-use-before-define": "off",
    "react/jsx-props-no-spreading": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-shadow": "error",
    "consistent-return": "off",
    "import/extensions": [
      "error",
      {
        "ts": "never",
        "tsx": "never",
        "json": "never"
      }
    ],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function"
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ]
  }
}